body {
    box-sizing: border-box;
}

#main-container {
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.pokemonContainer {
    max-width: 10rem;
    border: 1px solid black;
    text-align: center;
}
