body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Flexo-Medium", arial, sans-serif;
  width: 100vw;
}

#error-msg {
  color: rgb(152, 0, 0);
  text-align: center;
  margin: 10px 0;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 0.5em;
  background-image: linear-gradient(red, white);
}

.navUp {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}

.searchContainer {
  text-align: cen;
}

nav button {
  padding: 0.4em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
}

nav input {
  padding: 0.35em 0.8em;
  border-radius: 0.5em;
  border: none;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.pokemonContainer {
  background-image: linear-gradient(red, white);
  width: 20%;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 0.4em;
}

.searchPokemonContainer {
  background-image: linear-gradient(red, white);
  width: 50%;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 0.4em;
}

.pokeImage {
  width: 80%;
  height: auto;
  border-radius: 0.4em;
  margin-top: 0.5em;
  margin-left: 8%;
}

.searchedPokeImage {
  width: 80%;
  height: auto;
  border-radius: 0.4em;
  margin-top: 0.5em;
  margin-left: 8%;
}

h2 {
  text-align: start;
  margin: 0.3em 0 0.5em 0.5em;
  font-size: 1em;
  text-transform: capitalize;
}

h3 {
  text-align: start;
  margin: 0 0 0 0.5em;
  font-size: 0.9em;
}

span {
  border-radius: 0.3em;
  max-width: 7em;
  margin: 0 0 0.4em 0.5em;
  width: 40%;
  font-size: 0.8em;
  text-align: center;
  float: left;
  text-transform: capitalize;
  padding: 1px;
}

.shiny-toggle {
  margin-left: 0.5em;
  text-align: start;
}

/********** Overlay full-screen background *******************/
.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

body.active-overlay #main-container {
  filter: blur(5px);
}

.overlay-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-image: linear-gradient(red, white);
  width: 100%;
  height: 70%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.4em;

}

.overlay-left,
.overlay-right {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
}

.pokemon-name{
  margin: 0.3em;
}
.pokemon-id{
  margin: 0;
}

.pokemon-image {
  width: 60%;
  height: auto;
  margin: auto;
}


.toggles {
  margin: auto;
}

.toggles button {
  background-color: blue;
}

.pokemon-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-prev-container,
.pokemon-next-container {
  margin-top: 2.5em;
}

.pokemon-prev-container {
}
.pokemon-next-container {
  text-align: right;
}
.nav-pokemon-image {
  width: 50%;
  height: auto;
  /* background-color: blue; */
}

.nav-pokemon-id {
  margin: 0;
}
.pokemon-text,
.pokemon-text {
  font-size: 0.5em;
  margin: 0;
}

button:hover {
  background-color: #e0e0e0;
}

.overlay-right {
  background-color: blue;
  width: 20px;
}
